@mixin small {
  font-size: 85%;
}

@mixin center {
  text-align: center;
}

debug {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: 85%;
  font-weight: bold;
}

roof {
  display: block;
  border: 2px solid lime;
}
